.root {
	-fx-background-color: #ffe4c4;
	-fx-font-size: 12pt;
	-fx-font-family: Gill Sans;
	-fx-text-color: brown;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-padding: 5;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}



.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.button:disabled {
    -fx-opacity: 0.75;
    -fx-text-fill: black;
}

.button:pressed{
	-fx-text-fill: red;
}


.menu-bar {
	-fx-background-color: lightblue;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: Gill Sans;
    -fx-text-fill: black;
    -fx-text-weight: bold;
    -fx-opacity: 1;
}


.control_bar {
	-fx-background-color: lightblue;

}

.login_view {
	-fx-background-image: url("jass.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain;

}
.login_view .label {
	 -fx-font-size: 20pt;
    -fx-font-family: Gill Sans;
    -fx-text-fill: black;
    -fx-text-weight: bold;
    -fx-text-border-color: blue;
    -fx-effect: dropshadow( gaussian , lightgrey , 2,3.0,3.0,3,1,5 );
}

.lobby_view {
	
}

.lobby_view .label {
	
}



.game_view {
	-fx-background-image: url("Tisch.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}


#gameCardsOnTable{
	-fx-padding: 4.0px;
    -fx-max-width: 60;
    -fx-max-height: 80;
    -fx-setPosition: center;
}



.gamePlayerBox .label {
	-fx-font-size: 24pt;
    -fx-font-family: Gill Sans;
    -fx-text-fill: green;
    -fx-text-weight: bold;
    -fx-effect: dropshadow( gaussian , lightgrey , 2,3.0,3.0,3,1,5 );
}

.player4InfoBox{
	-fx-spacing: 20;
}
	
.gamePlayer4InfoBox .label {
	-fx-font-size: 24pt;
    -fx-font-family: Gill Sans;
    -fx-text-fill: green;
    -fx-text-weight: bold;
    -fx-effect: dropshadow( gaussian , lightgrey , 2,3.0,3.0,3,1,5 );
}

.gamePlayer4CardBox {
	-fx-spacing: 60;
	-fx-margin: 20px;
	-fx-background-color: lightbrown;
	
	}
	
.gamePlayer4CardBox .Button:hover {
	-fx-translate-y: -20;
}

.gamePlayerCards:hover{
	
}
	

.gameRightBox{	
	-fx-font-size: 24pt;
    -fx-font-family: Gill Sans;
    -fx-text-fill: black;
    -fx-text-weight: bold;
    -fx-effect: dropshadow( gaussian , lightgrey , 2,3.0,3.0,3,1,5 );
}


.gamePointsBox{
	-fx-background-image: url("Schiefertafel.jpg");
	-fx-background-position: top;
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain, auto;


}
.gamePointsBox .label{
	-fx-text-fill: white;
	-fx-text-padding: 20;
	 -fx-margin-left: 3em;
	-fx-font-size: 22;
}

.gameTableBox{
	
}


#gameTeppichBox{
	-fx-background-image: url("teppich.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain, auto;

	/*-fx-Spacing: 30px;
    -fx-padding: 10.0px;
    -fx-border-width: 2.0px;*/
}

