.root {
	-fx-background-color: #ffe4c4;
	-fx-font-size: 12.0pt;
	-fx-font-family: Gill Sans;
	-fx-text-color: brown;
}

.label {
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255.0,255.0,255.0,0.5) , 0.0,0.0,0.0,1.0 );
    -fx-padding: 5.0;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}



.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.button:disabled {
    -fx-opacity: 0.75;
    -fx-text-fill: black;
}

.button:pressed{
	-fx-text-fill: red;
}


.menu-bar {
	-fx-background-color: lightblue;
}

.menu-bar .label {
    -fx-font-size: 10.0pt;
    -fx-font-family: Gill Sans;
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}


.control_bar {
	-fx-background-color: lightblue;

}

.login_view {
	-fx-background-image: url("jass.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain, auto;


}
.login_view .label {
	 -fx-font-size: 20.0pt;
    -fx-font-family: Gill Sans;
    -fx-text-fill: black;
    -fx-text-weight: bold;
    -fx-text-border-color: blue;
    -fx-effect: dropshadow( gaussian , lightgrey , 2.0,3.0,3.0,3.0,1.0,5.0 );
}

.lobby_view {
	
}

.lobby_view .label {
	
}



.game_view {
	-fx-background-image: url("Tisch.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}


#gameCardsOnTable{
	-fx-padding: 4.0px;
    -fx-max-width: 60.0;
    -fx-max-height: 80.0;
    -fx-setPosition: center;
}

.gamePlayerBox {
	-fx-background-image: url("KartenHaltend.jpg");
	-fx-background-insets: 20.0;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	 -fx-background-width: 75.0;
    -fx-background-hight: 105.0;
	-fx-border-insets: 20.0;
	
	}

.gamePlayerBox .label {
	-fx-font-size: 24.0pt;
	-fx-text-position: center;
    -fx-font-family: Gill Sans;
    -fx-text-fill: green;
    -fx-text-weight: bold;
    -fx-effect: dropshadow( gaussian , lightgrey , 2.0,3.0,3.0,3.0,1.0,5.0 );
}

.player4InfoBox{
	-fx-spacing: 20.0;
}
	
.gamePlayer4InfoBox .label {
	-fx-font-size: 20.0pt;
    -fx-font-family: Gill Sans;
    -fx-text-fill: green;
    -fx-text-weight: bold;
    -fx-effect: dropshadow( gaussian , lightgrey , 2.0,3.0,3.0,3.0,1.0,5.0 );
}

.gamePlayer4CardBox {
	-fx-spacing: 60.0;
	-fx-margin: 20.0px;
	
	}
	
	

.gameRightBox{	
	
}


.gamePointsBox{
	-fx-background-image: url("Schiefertafel.jpg");
	-fx-background-position: left, top;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-fill-height: true;


}
.gamePointsBox .label{
	-fx-text-fill: white;
	-fx-margin: 30.0;
	-fx-font-size: 16.0;
}

.gameTableBox{
	
}

#game_trupfIcon {
	-fx-allign: center;
	
}


#label_game_view{
	-fx-font-size: 20.0pt;
    -fx-font-family: Gill Sans;
    -fx-text-fill: black;
    -fx-text-weight: bold;
    -fx-effect: dropshadow( gaussian , lightgrey , 2.0,3.0,3.0,3.0,1.0,5.0 );
}

#gameTeppichBox{
	-fx-background-image: url("teppich.png");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: contain, auto;

	/*-fx-Spacing: 30px;
    -fx-padding: 10.0px;
    -fx-border-width: 2.0px;*/
}

