.root{
	-fx-background-color: #ffe4c4;
	-fx-font-size: 12pt;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-padding: 5;
}

.Login_View {
	-fx-background-color: red;
}

#Game_View{
	-fx-background-image: url("Tisch.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#gameCardsOnTable{
	-fx-padding: 4.0px;
    -fx-max-width: 60;
    -fx-max-height: 80;
}

#player4InfoBox{
	-fx-spacing: 20;
}

#gamePlayer4CardBox {
	-fx-spacing: 60;
	-fx-margin: 20px;
	-fx-background-color: lightbrown;
	
	
}
#gameRightBox{

	
	
}

#gamePlayerBox{
	-fx-text-fill: white;
	
}

#gamePointsBox{
	-fx-background-image: url("Schiefertafel.jpg");
	-fx-background-position: left;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	-fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-text-padding: 10;
    -fx-with: 70;
    -fx-hight: 50;
}

#gameTableBox{
	-fx-background-image: url("Tisch.jpg");
}

	

#gamePlayerCards:hover{
	-fx-translate-x: +20;
}


.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#gameTeppichBox{
	-fx-background-image: url("teppich.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	/*-fx-Spacing: 30px;
    -fx-padding: 10.0px;
    -fx-border-width: 2.0px;*/
}

#Registerbutton {
	-fx-background-color: red;
}


